<div class='container-fluid'>

  <div class='row'>
    <div class='col-sm-12'>
      <app-manage-data-header></app-manage-data-header>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <app-manage-company-presentation></app-manage-company-presentation>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>

      <div class='container-fluid'>
        <div class='row'>
          <h2>Informations générales</h2>
        </div>

        <div class='row'>
          <div class='col-sm-4'>
            <app-manage-departments></app-manage-departments>
          </div>
          <div class='col-sm-4'>
            <app-manage-address-book></app-manage-address-book>

          </div>
          <div class='col-sm-4'>
            <app-manage-contract-type></app-manage-contract-type>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>
            <app-manage-authorizations></app-manage-authorizations>
          </div>
          <div class='col-sm-4'>
            <app-manage-identity-papers-type></app-manage-identity-papers-type>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>