<div *ngIf="isShownDetail">
  <div class="popup">
    <h3>Attention !</h3>
    <p>Vous vous apprêtez à supprimer la(les) personne(s) suivante(s) de la base de données :</p>
    <ul *ngFor="let person of employeesToDelete">
      <li>
        {{person.firstName}} {{person.lastName}}
      </li>
    </ul>
    <p>Souhaitez-vous vraiment confirmer ? Cette action est irréversible.</p>
    <button type="button" (click)="deleteEmployees()">Supprimer</button>
    <button type="button" (click)="closeDetail()">Anuler</button>
  </div>
  <div class="overlay"></div>
</div>